---
import Layout from "@layouts/Layout.astro";
import { ghostClient } from "@lib/ghost";
import { getPostSlug } from "@lib/post";

export async function getStaticPaths() {
    const posts = await ghostClient.posts.browse({
        limit: "all",
        include: "authors",
        fields: "title,reading_time,feature_image,title,html,slug,primary_author,published_at",
    });

    return posts.map((post) => {
        return {
            params: {
                slug: getPostSlug(post),
            },
            props: {
                post: post,
            },
        };
    });
}

const { post } = Astro.props;
---

<Layout title={post.title}>
    <article
        class="col-span-12 lg:col-span-8 lg:col-start-3 py-10 lg:py-[80px]"
    >
        <div class="flex items-center mt-2 gap-2">
            <p class="flex items-center text-gray-400 text-sm gap-1">
                <img
                    src={post.primary_author.profile_image}
                    width="24"
                    height="24"
                />
                {post.primary_author.name}
            </p>
            <p class="text-gray-400 text-sm">
                {post.reading_time} min read
            </p>
        </div>
        <h1 class="text-3xl font-semibold mt-10">{post.title}</h1>
        <img class="mt-10" src={post.feature_image} alt={post.title} />
        <article class="prose lg:prose-lg mt-16">
            <Fragment set:html={post.html} />
        </article>
    </article>
</Layout>
