---
import Layout from "@layouts/Layout.astro";
import { ghostClient } from "@lib/ghost";
import { getPostSlug } from "@lib/post";

export async function getStaticPaths() {
    const posts = await ghostClient.posts.browse({
        limit: "all",
        include: "authors",
        fields: "title,reading_time,feature_image,title,html,slug,primary_author,published_at,excerpt",
    });

    return posts.map((post) => {
        return {
            params: {
                slug: getPostSlug(post),
            },
            props: {
                post: post,
            },
        };
    });
}

const { post } = Astro.props;
---

<Layout title={post.title}>
    <Fragment slot="head">
        <meta name="author" content={post.primary_author.name} />
        <meta name="description" content={post.excerpt} />
        <meta property="og:title" content={post.title} />
        <meta property="og:description" content={post.excerpt} />
        <meta property="og:type" content="article" />
        <meta property="og:url" content={Astro.url} />
        <meta property="og:image" content={post.feature_image} />
        <link rel="preload" as="image" href={post.feature_image} />
        <link
            rel="preload"
            as="style"
            href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.28.0/themes/prism-tomorrow.min.css"
            integrity="sha512-vswe+cgvic/XBoF1OcM/TeJ2FW0OofqAVdCZiEYkd6dwGXthvkSFWOoGGJgS2CW70VK5dQM5Oh+7ne47s74VTg=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"
        />
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.28.0/themes/prism-tomorrow.min.css"
            integrity="sha512-vswe+cgvic/XBoF1OcM/TeJ2FW0OofqAVdCZiEYkd6dwGXthvkSFWOoGGJgS2CW70VK5dQM5Oh+7ne47s74VTg=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"
        />
    </Fragment>
    <article
        class="col-span-12 lg:col-span-8 lg:col-start-3 py-10 lg:py-[80px]"
    >
        <div class="flex items-center mt-2 gap-2">
            <p class="flex items-center text-gray-600 text-sm gap-1">
                <img
                    src={post.primary_author.profile_image}
                    width="24"
                    height="24"
                    alt={`${post.primary_author.name} 프로필 이미지`}
                />
                {post.primary_author.name}
            </p>
            <p class="text-gray-600 text-sm">
                {post.reading_time} min read
            </p>
        </div>
        <h1 class="text-3xl font-semibold mt-10">{post.title}</h1>
        <img class="mt-10" src={post.feature_image} alt={post.title} />
        <article class="prose lg:prose-lg mt-16">
            <Fragment set:html={post.html} />
        </article>
    </article>
    <Fragment slot="script">
        <script
            src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.28.0/components/prism-core.min.js"
            integrity="sha512-9khQRAUBYEJDCDVP2yw3LRUQvjJ0Pjx0EShmaQjcHa6AXiOv6qHQu9lCAIR8O+/D8FtaCoJ2c0Tf9Xo7hYH01Q=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"></script>
        <script
            src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.28.0/plugins/autoloader/prism-autoloader.min.js"
            integrity="sha512-fTl/qcO1VgvKtOMApX2PdZzkziyr2stM65GYPLGuYMnuMm1z2JLJG6XVU7C/mR+E7xBUqCivykuhlzfqxXBXbg=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"></script>
    </Fragment>
</Layout>
